{{ partial "header.html" . }}

<div class="flex max-w-4xl m-auto relative">
  {{ partial "nav.html" . }}
  <main class="w-full h-full bg-white border-4 border-gray-200 p-4">
    <div class="flex flex-wrap mb-4">
      <a href="/"
        ><img src="/images/blinkies/sh-blue.gif"/ alt="blue blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-coffee.gif"/ alt="coffee blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-gold.gif"/ alt="gold blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-love.gif"/ alt="love blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-star.gif"/ alt="star blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-moon.gif"/ alt="moon blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-neon.gif"/ alt="neon blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-slime.gif"/ alt="slime blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-sparkle.gif"/ alt="sparkle blinkie"></a
      >
      <a href="/"
        ><img src="/images/blinkies/sh-virus.gif"/ alt="virus blinkie"></a
      >
    </div>

    <div class="right margin">
      <img src="/images/me.png" alt="me" />
    </div>

    <p>
      Hello, I'm Isak, a self-taught developer from Tromsø, Norway. I'm
      currently living in <s>Tromsø</s> <s>Oslo</s> Trondheim. This is my
      website.
    </p>

    <p class="my-4">
      You can find me on <a href="https://github.com/isaksolheim">Github</a> and
      <a href="https://www.linkedin.com/in/isak-solheim/">LinkedIn</a>.
    </p>

    <p>Enjoy your stay! 🪴</p>
  </main>
</div>

{{ partial "footer.html" . }}
